    <section class="subheader">
      <div class="container">
        <h2>Add a new test</h2>
      </div>
    </section>

    <section id="new">
      <div class="container">
        <form action="">
          <fieldset>
            <label for="">Name</label>
            <input type="text" placeholder="My awesome test">
          </fieldset>
          <fieldset>
            <label for="">Description</label>
            <input type="text" placeholder="This is the best test ever made in human history">
          </fieldset>
          <fieldset>
            <label for="">Base URI</label>
            <input type="text" placeholder="http://gopherling.tld:8080">
          </fieldset>
          <fieldset>
            <label for="">Number of users</label>
            <input type="text" placeholder="Test name">
          </fieldset>
          <fieldset>
            <label for="">Users spawn/second</label>
            <input type="text" placeholder="Test name">
          </fieldset>
        </form>
        <form action="">
          <fieldset>
            <ul>
              <li>
                <label for="">Method</label>
                <select id="" name="">
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                  <option value="PUT">PUT</option>
                  <option value="DELETE">DELETE</option>
                </select>
              </li>
              <li>
                <label for="">Host</label>
                <input type="text" disabled>
              </li>
              <li>
                <label for="">Path</label>
                <input type="text">
              </li>
            </ul>
          </fieldset>
        </form>
      </div>
    </section>
