    <section class="subheader">
      <div class="container">
        <h2>Add a new test</h2>
      </div>
    </section>

    <section id="new">
      <div class="container new-test">
        <form action="">
          <fieldset>
            <label for="">Name</label>
            <input type="text" placeholder="My awesome test" ng-model="test.name">
          </fieldset>
          <fieldset>
            <label for="">Description</label>
            <input type="text" placeholder="This is the best test ever made in human history" ng-model="test.description">
          </fieldset>
          <fieldset>
            <label for="">Base URI</label>
            <input type="text" placeholder="http://gopherling.tld:8080" ng-model="test.baseUrl">
          </fieldset>
          <fieldset>
            <label for="">Total number of requests</label>
            <input type="number" placeholder="Test name" ng-model="test.requests">
          </fieldset>
          <fieldset>
            <label for="">Number of concurrent requests</label>
            <input type="number" placeholder="Test name" ng-model="test.concurrency">
          </fieldset>
        </form>
        <section>
          <h2>How to?</h2>
          <ul>
          	<li>Start by configuring your test setting, and your first task</li>
          	<li>Click on the "Add Task" button if you need to add more tasks</li>
          	<li>Once finished you can either save your test for later use, and click on the "Save & Run" button to start it immediatly</li>
          </ul>
          <div>
            <button ng-click="addTask()">Add Task</button>
            <button ng-click="save()">Save</button>         
            <button ng-click="save(true)">Save & Run</button>         
          </div>
        </section>
      </div>
      <div class="container tasks">
        <form ng-repeat="task in test.tasks">
          <fieldset>
            <ul>
              <li>
                <label for="">Method</label>
                <select ng-model="task.method">
                  <option value="GET">GET</option>
                  <option value="POST">POST</option>
                  <option value="PUT">PUT</option>
                  <option value="DELETE">DELETE</option>
                </select>
              </li>
              <li>
                <label for="">Host</label>
                <input type="text" value="{{test.baseUrl}}/" disabled>
              </li>
              <li>
                <label for="">Path</label>
                <input type="text" ng-model="task.path">
              </li>
            </ul>
          </fieldset>
          <fieldset>
            <h2></h2>
            <label for="">Raw body</label>
            <input type="text" placeholder="" ng-model="task.rawBody">
          </fieldset>
          <fieldset>
            <h2>Headers</h2>
            <button ng-click="addHeader(task)">Add header</button>
          </fieldset>
          <fieldset ng-repeat="header in task.headers">
            <ul>
              <li>
                <br>
                <a href="" ng-click="removeHeader(task, header)">Remove</a>
              </li>
              <li>
                <label for="">Field</label>
                <input type="text" ng-model="header.field">
              </li>
              <li>
                <label for="">Value</label>
                <input type="text" ng-model="header.value">
              </li>
            </ul>
          </fieldset>
          <fieldset>
            <h2>Remove this task</h2>
            <button ng-click="removeTask(task)">Remove</button>
          </fieldset>
        </form>
      </div>

    </section>
