@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?64691259");
  src: url("../fonts/fontello.eot?64691259#iefix") format('embedded-opentype'), url("../fonts/fontello.woff?64691259") format('woff'), url("../fonts/fontello.ttf?64691259") format('truetype'), url("../fonts/fontello.svg?64691259#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
