[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-docs:before {
  content: '\e800';
}
/* '' */
.icon-github:before {
  content: '\e801';
}
/* '' */
.icon-eye:before {
  content: '\e802';
}
/* '' */
.icon-plus-squared:before {
  content: '\e803';
}
/* '' */
.icon-twitter:before {
  content: '\e804';
}
/* '' */
.icon-gauge:before {
  content: '\e805';
}
/* '' */
.icon-flow-branch:before {
  content: '\e806';
}
/* '' */
.icon-tools:before {
  content: '\e807';
}
/* '' */
