@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?64691259");
  src: url("../fonts/fontello.eot?64691259#iefix") format('embedded-opentype'), url("../fonts/fontello.woff?64691259") format('woff'), url("../fonts/fontello.ttf?64691259") format('truetype'), url("../fonts/fontello.svg?64691259#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pacifico';
  src: url("../fonts/Pacifico.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-docs:before {
  content: '\e800';
}
.icon-github:before {
  content: '\e801';
}
.icon-eye:before {
  content: '\e802';
}
.icon-plus-squared:before {
  content: '\e803';
}
.icon-twitter:before {
  content: '\e804';
}
.icon-gauge:before {
  content: '\e805';
}
.icon-flow-branch:before {
  content: '\e806';
}
.icon-tools:before {
  content: '\e807';
}
@-webkit-keyframes color-flip {
  to {
    background: #fff;
    color: #00aaea;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes color-flip {
  to {
    background: #fff;
    color: #00aaea;
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
input:disabled {
  opacity: 0.4;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 1140px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
body {
  color: #777;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
body > header {
  background: #00aaea;
  box-shadow: inset rgba(0,0,0,0.2) 0 -2px 0;
  height: 4.75rem;
}
body > header h1 {
  color: #fff;
  display: inline-block;
  font-family: 'Pacifico', sans-serif;
  font-size: 2.375rem;
  float: left;
  margin: 0.21875rem 0 0.09375rem 0;
  text-align: center;
}
body > header h1 a {
  color: #fff;
  text-decoration: none;
}
body > header h1 span {
  font-size: 1.125rem;
}
body > header nav {
  display: block;
  float: right;
  line-height: 4.9375rem;
}
body > header nav ul li {
  display: inline-block;
  position: relative;
  pointer-events: initial;
}
body > header nav ul li:hover a {
  -webkit-animation: color-flip 1s ease;
          animation: color-flip 1s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
body > header nav ul li a {
  color: #fff;
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 700;
  height: 4.625rem;
  padding: 0 1rem;
  text-transform: uppercase;
}
body > header nav ul li a:hover {
  color: #fff;
}
main > footer {
  background: #00222f;
  padding: 2rem 0;
}
main > footer span {
  color: #fff;
}
#hero {
  height: 400px;
  background: #0099d3;
  text-align: center;
}
#hero h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: #fff 0 0 1px, #000 1px 1px 1px;
  margin: 6.25rem 0;
}
#hero a {
  font-size: 1.125rem;
}
#hero a:nth-child(2) {
  background: #0099d3;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.5s, background 0.5s;
          transition: color 0.5s, background 0.5s;
}
#hero a:nth-child(2):hover {
  background: #fff;
  border: 2px solid #0099d3;
  color: #0099d3;
}
#hero a:nth-child(2):active {
  background: #0099d3;
  border: 2px solid #fff;
  color: #fff;
}
#hero a:nth-child(2):disabled {
  background: #008abe;
  border: 2px solid #fff;
  color: #fff;
  opacity: 0.4;
}
#hero a:last-child {
  background: #fff;
  border: 2px solid #0099d3;
  border-radius: 6px;
  color: #0099d3;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.5s, background 0.5s;
          transition: color 0.5s, background 0.5s;
  margin-left: 3rem;
}
#hero a:last-child:hover {
  background: #0099d3;
  border: 2px solid #fff;
  color: #fff;
}
#hero a:last-child:active {
  background: #fff;
  border: 2px solid #0099d3;
  color: #0099d3;
}
#hero a:last-child:disabled {
  background: #e6e6e6;
  border: 2px solid #0099d3;
  color: #0099d3;
  opacity: 0.4;
}
#how-to {
  height: 400px;
  padding: 3rem 0 2rem 0;
  text-align: center;
}
#how-to h2 {
  color: #777;
  font-size: 2.25rem;
  margin: 0 0 2.625rem 0;
  text-shadow: #000 0 0 1px, #fff 1px 1px 1px;
}
#how-to li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
}
#how-to li:before,
#how-to li:after {
  content: '';
  display: table;
}
#how-to li:after {
  clear: both;
}
#how-to li:last-child {
  margin-right: 0%;
}
#how-to li span {
  background: #00aaea;
  display: inline-table;
  border: 3px solid #00aaea;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  margin-left: -60px;
  margin-top: -60px;
  top: 50%;
  left: 50%;
  -webkit-transition: background 0.3s ease;
          transition: background 0.3s ease;
}
#how-to li span:hover {
  background: #fff;
}
#how-to li span:hover i {
  color: #00aaea;
}
#how-to li span i {
  display: table-cell;
  color: #fff;
  font-size: 3.625rem;
  vertical-align: middle;
  -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
}
#how-to li p {
  margin-top: 11.25rem;
}
.subheader {
  background: #0099d3;
  padding: 2.375rem;
}
.subheader h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: #fff 0 0 0px, #fff 0px 0px 1px;
}
#new form {
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin-top: 2.375rem;
}
#new form fieldset {
  padding: 0.75rem;
}
#new form fieldset li {
  display: inline-block;
}
#new form fieldset input,
#new form fieldset label {
  display: block;
  width: 100%;
}
#new form fieldset input {
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  margin-top: 0.375rem;
  padding: 0.375rem;
}
#new form fieldset select {
  background: #fff;
  border-radius: 2px;
  margin-top: 0.375rem;
  padding: 0.375rem;
}
#new .new-test form {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
#new .new-test form:before,
#new .new-test form:after {
  content: '';
  display: table;
}
#new .new-test form:after {
  clear: both;
}
#new .new-test form:last-child {
  margin-right: 0%;
}
#new .new-test section {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
  background: #fafafa;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin-top: 2.375rem;
  padding: 0.75rem;
}
#new .new-test section:before,
#new .new-test section:after {
  content: '';
  display: table;
}
#new .new-test section:after {
  clear: both;
}
#new .new-test section:last-child {
  margin-right: 0%;
}
#new .new-test section h2 {
  font-size: 1.75rem;
  text-align: center;
}
#new .new-test section ul {
  margin: 0.875rem 0;
}
#new .new-test section ul li {
  list-style: disc;
  list-style-position: inside;
}
#new .new-test section div {
  text-align: center;
}
#new .new-test section div button {
  background: #00aaea;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.5s, background 0.5s;
          transition: color 0.5s, background 0.5s;
}
#new .new-test section div button:hover {
  background: #fff;
  border: 2px solid #00aaea;
  color: #00aaea;
}
#new .new-test section div button:active {
  background: #00aaea;
  border: 2px solid #fff;
  color: #fff;
}
#new .new-test section div button:disabled {
  background: #0099d3;
  border: 2px solid #fff;
  color: #fff;
  opacity: 0.4;
}
#new .tasks {
  margin-bottom: 2.375rem;
}
#new .tasks form {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
#new .tasks form:before,
#new .tasks form:after {
  content: '';
  display: table;
}
#new .tasks form:after {
  clear: both;
}
#new .tasks form:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
#new .tasks form:nth-child(2n+1) {
  clear: both;
}
#new .tasks form ul {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
#new .tasks form ul:before,
#new .tasks form ul:after {
  content: '';
  display: table;
}
#new .tasks form ul:after {
  clear: both;
}
#new .tasks form ul li:first-child {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 17.6%;
  margin-left: 0%;
  margin-right: 3%;
}
#new .tasks form ul li:first-child:before,
#new .tasks form ul li:first-child:after {
  content: '';
  display: table;
}
#new .tasks form ul li:first-child:after {
  clear: both;
}
#new .tasks form ul li:first-child:last-child {
  margin-right: 0%;
}
#new .tasks form ul li:nth-child(2) {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 38.2%;
  margin-left: 0%;
  margin-right: 3%;
}
#new .tasks form ul li:nth-child(2):before,
#new .tasks form ul li:nth-child(2):after {
  content: '';
  display: table;
}
#new .tasks form ul li:nth-child(2):after {
  clear: both;
}
#new .tasks form ul li:nth-child(2):last-child {
  margin-right: 0%;
}
#new .tasks form ul li:nth-child(3) {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 38.2%;
  margin-left: 0%;
  margin-right: 3%;
}
#new .tasks form ul li:nth-child(3):before,
#new .tasks form ul li:nth-child(3):after {
  content: '';
  display: table;
}
#new .tasks form ul li:nth-child(3):after {
  clear: both;
}
#new .tasks form ul li:nth-child(3):last-child {
  margin-right: 0%;
}
#new .tasks form ul li a {
  color: #c33434;
  font-weight: bold;
  text-decoration: underline;
  margin: 0 0.375rem;
}
#new .tasks form button {
  background: #00aaea;
  border: 2px solid #fff;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.5s, background 0.5s;
          transition: color 0.5s, background 0.5s;
  padding: 0.1875rem 0.375rem;
  border: 2px solid #00aaea;
  border-radius: 2px;
}
#new .tasks form button:hover {
  background: #fff;
  border: 2px solid #00aaea;
  color: #00aaea;
}
#new .tasks form button:active {
  background: #00aaea;
  border: 2px solid #fff;
  color: #fff;
}
#new .tasks form button:disabled {
  background: #0099d3;
  border: 2px solid #fff;
  color: #fff;
  opacity: 0.4;
}
#feedback {
  margin-top: 2.375rem;
}
#feedback table {
  border: 1px solid #c0c0c0;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  width: 100%;
}
#feedback table tr:first-child {
  background: #959595;
  color: #fff;
}
#feedback table tr.odd {
  background: #fff;
}
#feedback table tr.even {
  background: #fafafa;
}
#feedback table td,
#feedback table th {
  padding: 0.375rem 0 0.375rem 0.375rem;
}
#all-tests {
  margin-top: 2.375rem;
}
#all-tests .test {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.3333333333333%;
  margin-left: 0%;
  margin-right: 3%;
  background: #fafafa;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  margin-bottom: 1.5rem;
}
#all-tests .test:before,
#all-tests .test:after {
  content: '';
  display: table;
}
#all-tests .test:after {
  clear: both;
}
#all-tests .test:nth-child(3n) {
  margin-right: 0%;
  float: right;
}
#all-tests .test:nth-child(3n+1) {
  clear: both;
}
#all-tests .test h3 {
  text-transform: uppercase;
}
#all-tests .test .buttons {
  float: right;
}
#all-tests .test .buttons a {
  font-weight: bold;
  color: #00aaea;
  text-decoration: underline;
  margin: 0 0.375rem;
}
#all-tests .test .buttons a:nth-child(1) {
  color: #099;
}
#all-tests .test .buttons a:nth-child(2) {
  color: #00aaea;
}
#all-tests .test .buttons a:nth-child(3) {
  color: #c33434;
}
