    <section id="hero">
      <div class="container">
        <h2>A load/stress testing tool without... stress</h2>
        <a href="/#/new">Try me !</a><a href="https://github.com/gophergala/gopherling">Contribute</a>
      </div>
    </section>

    <section id="how-to">
      <div class="container">
        <h2>How it works</h2>
        <ul>
        	<li>
            <span>
              <i class="icon-docs"></i>
            </span>
        		<p>Create a new test</p>
        	</li>
        	<li>
            <span>
              <i class="icon-plus-squared"></i>
            </span>
        		<p>Add a list of tasks to run</p>
        	</li>
        	<li>
            <span>
              <i class="icon-eye"></i>
            </span>
        		<p>Monitor the requests in real-time</p>
        	</li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <span>Gopherling is developed by Frostwind for the Gophergala.</span>
      </div>
    </footer>
