@import 'jeet'
@import 'citrine'

@import 'fonts'
@import 'colors'
@import 'icons'
@import 'animations'
@import 'elements'

citrine-box-sizing()
citrine-reset()

a, a:visited, a:hover
  text-decoration none

.container
  center(1140px)

body
  color $dark-grey
  font-family 'Montserrat', sans-serif
  font-size remify(14)
  font-weight 400
  line-height 1.5

body > header
  background $blue
  box-shadow inset rgba(0, 0, 0, .20) 0 -2px 0
  height remify(76)

  h1
    color white
    display inline-block
    font-family 'Pacifico', sans-serif
    font-size remify(38)
    float left
    margin rhythm(1, 2, 2) 0 rhythm(1, 2) 0
    text-align center
    a
      color white
      text-decoration none
    span
      font-size remify(18)

  nav
    display block
    float right
    line-height remify(79)

    ul li
      display inline-block
      position relative
      pointer-events initial
      &:hover
        a
          animation color-flip 1s ease
          animation-fill-mode forwards
      a
        color white
        display inline-block
        font-size remify(13)
        font-weight 700
        height remify(74)
        padding 0 remify(16)
        text-transform uppercase
        &:hover
          color white

main > footer
  background darken($blue, 80%)
  padding remify(32) 0
  span
    color white

#hero
  height 400px
  background darken($blue, 10%)
  text-align center

  h2
    color white
    font-size remify(48)
    font-weight bold
    text-shadow #fff 0 0 1px, #000 1px 1px 1px
    margin remify(100) 0

  a
    font-size remify(18)
    &:nth-child(2)
      button(darken($blue, 10%) , white)
    &:last-child
      button(white, darken($blue, 10%))
      margin-left remify(48)

#how-to
  height 400px
  padding remify(48) 0 remify(32) 0
  text-align center

  h2
    color $dark-grey
    font-size remify(36)
    margin 0 0 remify(42) 0
    text-shadow #000 0 0 1px, #fff 1px 1px 1px

  li
    col(1/3)
    position relative

    span
      background $blue
      display inline-table
      border 3px solid $blue
      border-radius 50%
      width 120px
      height 120px
      position absolute
      margin-left -60px
      margin-top -60px
      top 50%
      left 50%
      transition background 0.3s ease
      &:hover
        background white
        i
          color $blue
      i
        display table-cell
        color white
        font-size remify(58)
        vertical-align middle
        transition color 0.3s ease
    p
      margin-top remify(180)

.subheader
  background darken($blue, 10%)
  padding remify(38)

  h2
    color white
    font-size remify(32)
    font-weight bold
    text-transform uppercase
    text-shadow #fff 0 0 0px, #fff 0px 0px 1px

#new
  form
    border 1px solid $very-light-grey
    border-radius 4px
    margin-top remify(38)
    fieldset
      padding remify(12)
      li
        display inline-block
      input, label
        display block
        width 100%
      input
        border 1px solid $very-light-grey
        border-radius 2px
        margin-top remify(6)
        padding remify(6)
      select
        background white
        border-radius 2px
        margin-top remify(6)
        padding remify(6)
  .new-test
    form
      col(1/2)
    section
      col(1/2)
      background $light-grey
      border 1px solid $very-light-grey
      border-radius 4px
      margin-top remify(38)
      padding remify(12)
      h2
        font-size remify(28)
        text-align center
      ul
        margin remify(14) 0
        li
          list-style disc
          list-style-position inside
      div
        text-align center
        button
          button($blue, white)
  .tasks
    margin-bottom remify(38)
    form
      col(1/2, cycle:2)
      ul
        center()
        li
          &:first-child
            col(.2)
          &:nth-child(2)
            col(.4)
          &:nth-child(3)
            col(.4)
          a
            color $red
            font-weight bold
            text-decoration underline
            margin 0 remify(6)
      button
        button()
        padding remify(3) remify(6)
        border 2px solid $blue
        border-radius 2px


#feedback
  margin-top remify(38)
  table
    border 1px solid $very-light-grey 
    font-size remify(18)
    font-weight bold
    text-align left
    width 100%
    tr
      &:first-child
        background $grey
        color white
      &.odd
        background white
      &.even
        background $light-grey
    td, th
      padding remify(6) 0 remify(6) remify(6)

#all-tests
  margin-top remify(38)

  .test
    col(1/3, cycle:3)
    background $light-grey
    border 1px solid $very-light-grey
    border-radius 4px
    padding remify(12) remify(24)
    margin-bottom remify(24)

    h3
      text-transform uppercase
    .buttons
      float right
      a
        font-weight bold
        color $blue
        text-decoration underline
        margin 0 remify(6)
        &:nth-child(1)
          color $green
        &:nth-child(2)
          color $blue
        &:nth-child(3)
          color $red
